
{% if flash.error %}
    <div class='alert alert-danger'>
        <i class='icon-x-altx-alt'></i> {{ flash.error }}
    </div>
{% endif %}

{% if flash.warning %}
    <div class='alert alert-warning'>
        <i class='icon-warning-2'></i> {{ flash.warning }}
    </div>
{% endif %}

{% if flash.info %}
    <div class='alert alert-info'>
        <i class='icon-info-3'></i> {{ flash.info }}
    </div>
{% endif %}

{% if flash.success %}
    <div class='alert alert-success'>
        <i class='icon-check-alt'></i> {{ flash.success }}
    </div>
{% endif %}