

html, body {
  background-color: #E4E7E8;
  color: #636b6f;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  font-size: 11px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.bg-white{
  background-color: #fff;
}

.card{
  border: 2px solid #bbb;
}

.text-right{
  text-align: right;
}

.hover-cursor-pointer:hover{
  cursor: pointer;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.block-inline{
  display: inline-block;
}

.clear{
  clear: both;
}

.std-padding{
  padding: 10px;
}

.app-title-bar{
  background: #124950;
}

.app-menu-bar{
  background: #fff;
}

/**  OVERRIDES **/

.alert {
  z-index: 1;
}
